/checkpoints*/
/mlflow.db
/stat/
/.venv/
/.env
**/.env
/outputs/
/logs/
.codex
__pycache__/
*.pyc
/recipe/paper_search/selector-qwen3-8b
/alfworld_data/
data/alfworld/
/webshop_data_full/
/webshop_data_small/
data/webshop_full/
data/webshop_debug/
data/webshop_new_env/
/debug/
/guard/
/mlruns/
/mlartifacts/
*.html
EXPERIMENT_SETTINGS.md
data/corpus/hotpotqa_corpus/
/webshop_scripts/
/verl-agent/
data/raw/
data/corpus/2wikimultihopqa_corpus/
data/corpus/musique_corpus/
data/corpus/hotpotqa/raw_*/
/docs/
.ms_upload_cache
.DS_Store
/qdrant_url
/qdrant_url.py
/swanlab_sync/
